body{
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.single-card {
    width: 20%;
    margin: 5% auto;
}

.card {
    border-radius: 15px;
    background-color: #ebebeb;
    box-shadow: 4px 4px 5px 4px #b9b9b9;
    padding: 3%;
    display: flex;
    flex-flow: column nowrap;
}

.card-title {
    font-size: 26px;
}

.label {
    font-size: 22px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background: #DADADA;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
}

button:hover {
    background-color: #b9b9b9;
    cursor: pointer;
}